.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  /* padding: 2rem; */
}


.ied-generator-panel {
  /* border: 2px solid black; */
  width: 50vw;
  padding: 3rem;
  overflow: auto;
  height: 100%;
  max-height: 100vh;
}

.ied-xml-code-view {
  /* border: 2px solid black; */
  width: 50vw;
  padding: 2rem;

  /* font-size: 1rem; */
}

#ied-xml-code {
  overflow: auto;
  height: 100%;
  max-height: 100vh;
  color: blue;
}

.user-input {
  color: red;
}